@(user: User, users: Seq[User])(implicit flash: play.api.mvc.Flash)


@main(user, "Settings") {
    
    @table("admin user", routes.AdminUsers.create()) {
    	
	    <table id="main-table">
	        <thead>
	            <tr>
	                <th>Email Address</th>
	                <th>First Name</th>
	                <th>Last Name</th>
	            </tr>
	        </thead>
	        <tbody>
	
	            @users.map { 
	                case user => {
	                    <tr>
	                        <td><a href="@routes.AdminUsers.edit(user.id.get)">@user.email</a></td>
	                        <td>
	                            @user.firstName
	                        </td>
	                        <td>
	                            @user.lastName
	                        </td>
	                    </tr>
	                }
	            }
	
	        </tbody>
	    </table>
    	
    }
        
}

            