@(user: User, currentPage: Page[User])(implicit flash: play.api.mvc.Flash)


@main(user, "Settings") {
    
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }
    
    @flash.get("error").map { message =>
        <div class="alert alert-danger">
            <strong>Error!</strong> @message
        </div>
    }


    
    @Option(currentPage.items).filterNot(_.isEmpty).map { users =>
        <table id="main-table">
            <thead>
                <tr>
                    <th>Email Address</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>

                @users.map { 
                    case user => {
                        <tr>
                            <td><a href="@routes.AdminUsers.edit(user.id.get)">@user.email</a></td>
                            <td>
                                @user.name
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        
        <script>
		  $(function(){
		    $("#main-table").dataTable({
		    	"bStateSave": true
			}) 
		  })
		</script>
        
    <div >
        
        <a class="btn btn-success" id="add" href="@routes.AdminUsers.create()">Add a new admin user</a>
        
    </div>
        
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}

            