@* adminUserCreate Template File *@
@(loggedInUser: User, userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(loggedInUser, "Settings") {
	
	<div class="centered-form">
	
		@helper.form(action=routes.AdminUsers.add()) {
			
			<fieldset>
			
				@inputText(userForm("email"), '_label -> "Email Address")
				@inputText(userForm("name"), '_label -> "Name")
				@inputPassword(userForm("password"), '_label -> "Password")
			
			</fieldset>
			
			<div class="actions">
	            <input type="submit" value="Insert" class="btn btn-primary"> or 
	            <a href="@routes.AdminUsers.list()" class="btn btn-default">Cancel</a> 
	        </div>
			
		}
	
	</div>
	
}