@(loggedInUser: User, customerOrderForm: Form[CustomerOrder], customers: Seq[(String, String)], items: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@itemGroup(field: Field, className: String = "item") = {
	
	<div class="twipsies well @className">
		<a class="removeItem btn btn-danger pull-right">Remove this Item</a>
		@select(
			field("itemId"),
			items,
			'_label -> "Item", '_default -> "-- Choose an item --",
			'_showConstraints -> false	
		)
		@inputText( field("quantity"), '_label -> "Quantity" )
		@inputText( field("unitPrice"), '_label -> "Unit Price" )

		
	</div>
}

@main(loggedInUser, "Customers") {
	
	<div class="centered-form">
	
		<!-- 
		<div class="ui-widget">
		  <label for="tags">Tags: </label>
		  <input id="autocomplete-tag" name="blah">
		</div>
		 -->
	
		@helper.form(action=routes.CustomerSalesController.add()) {
			
			<fieldset>
			
				@select(
					customerOrderForm("customerId"),
					customers,
					'_label -> "Customer (Optional)", '_default -> "-- Choose a customer --",
					'_showConstraints -> false
				)
				
				@inputText(customerOrderForm("dateTime"), '_label -> "Transaction Date/Time")
				
				<div class="items">
				
					@**
					* Hidden template used to create more items
					**@
					@itemGroup(customerOrderForm("items[x]"), "item_template")
				
					
					<div class="clearfix">
						<div class="input">
							<a class="addItem btn btn-success">Add an item</a>
						</div>
					</div>
				
				</div>
			
			</fieldset>
			
			<div class="actions">
				<input type="submit" value="Insert" class="btn btn-primary"> or 
				<a href="@routes.CustomerSalesController.list()" class="btn btn-default">Cancel</a>
			</div>
			
		}
	
	
	</div>
	
    <script type="text/javascript" charset="utf-8">
        
        $('.removeItem').live('click', function(e) {
            $(this).parents('.item').remove()
            renumber()
        })
        
        // Search for the element with an "addProfile" class attribute. 
        $('.addItem').live('click', function(e) {
            var template = $('.item_template')
            template.before('<div class="twipsies well item">' + template.html() + '</div>')
            renumber()
        })
        
        // -- renumber fields
        
        // Rename fields to have a coherent payload like:
        //
        // informations[0].label
        // informations[0].email
        // informations[0].phones[0]
        // informations[0].phones[1]
        // ...
        //
        // This is probably not the easiest way to do it. A jQuery plugin would help.
        
        var renumber = function(phones) {
            $('.item').each(function(i) {
                $('input', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/items\[.+?\]/g, 'items[' + i + ']'))
                })
                $('select', this).each(function() {
                    $(this).attr('name', $(this).attr('name').replace(/items\[.+?\]/g, 'items[' + i + ']'))
                })
            })
        }

        $(function() {
            var availableTags = [
              "ActionScript",
              "AppleScript",
              "Asp",
              "BASIC",
              "C",
              "C++",
              "Clojure",
              "COBOL",
              "ColdFusion",
              "Erlang",
              "Fortran",
              "Groovy",
              "Haskell",
              "Java",
              "JavaScript",
              "Lisp",
              "Perl",
              "PHP",
              "Python",
              "Ruby",
              "Scala",
              "Scheme"
            ];
            $( "#autocomplete-tag" ).autocomplete({
              source: availableTags
            });
          });
        
    </script>
	
}