@(form: Form[(String,String)])(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OneStopWeb</title>
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/signin.css")">
    </head>
    <body>
        
        <!-- 
        <header>
            <a href="@routes.OneStop.index" id="logo"><span>OneStop</span>Web</a>
        </header>
        -->
        <div class="container">
            @helper.form(routes.Application.authenticate, 'class -> "form-signin", 'role -> "form") {
	            
			        <h2 class="form-signin-heading">Please sign in</h2>
			        <input type="email" name="email" class="form-control" placeholder="Email address" value="@form("email").value" required autofocus>
			        <input type="password" name="password" class="form-control" placeholder="Password" required>
			        <!-- <label class="checkbox">
          				<input type="checkbox" value="remember-me"> Remember me
        			</label> -->
			        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			        
			        <br><br>
			        
			    @form.globalError.map { error =>
                	<p class="text-danger">
                	    @error.message
                	</p>
            	}
            
            	@flash.get("success").map { message =>
                	<p class="text-success">
                	    @message
                	</p>
            	}
	     	}
	     	  

	    </div>
    </body>
</html>
    
