@(user: User, page: String)(body: Html)

<!DOCTYPE html>
<html lang="en">
  <head>    
  		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/jquery.dataTables.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/navbar-fixed-top.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/table.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/dataTables.bootstrap.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/dataTables.bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.js")"></script>
        
        <title>OneStopWeb</title>
    </head>
    <body class="main-body">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="@("active".when(page == "OneStopWeb"))"><a href="@routes.OneStop.index()">OneStopWeb</a></li>
            <li class="dropdown @("active".when(page == "Inventory"))">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="@routes.ItemController.list()">Items</a></li>
                <li><a href="@routes.ProductTypeController.list()">Departments</a></li>
              </ul>
            </li> 
            <li class="dropdown @("active".when(page == "Customers"))">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customers <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="@routes.CustomerManagementController.list()">Manage Customers</a></li>
                <li><a href="@routes.CustomerSalesController.list()">Sales</a></li>
                <li><a href="@routes.CustomerPromotionsController.list()">Promotions</a></li>
              </ul>
            </li> 
            <li class="dropdown @("active".when(page == "Vendors"))">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendors <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="@routes.VendorManagementController.list()">Manage Vendors</a></li>
                <li><a href="@routes.VendorPurchasesController.list()">Purchases</a></li>
              </ul>
            </li> 
            <li class="@("active".when(page == "Reports"))"><a href="@routes.OneStop.reports()">Reports</a></li>
            <li class="dropdown @("active".when(page == "Settings"))">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="@routes.AdminUsers.list()">Admin Users</a></li>
                <li><a href="@routes.OneStop.settingsOther()">Other Settings</a></li>
              </ul>
            </li> 
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><span class="navbar-text">@user.firstName @user.lastName - @user.email</span></li>
            <li><div><a href="@routes.Application.logout()" class="btn btn-primary"><i class="icon-white icon-heart">Logout</i></a></div></li>
           </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="main">
		@body
	</div>
	<!-- 
    <div class="container">
    	<div class="jumbotron">
    		
    	</div>
    </div>
      -->

        
    </body>
</html>

