html {
    background: #eee;
}

.main-body {
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

div#main {
    position: relative;
    padding: 5em 2em;
    /*border-bottom: 1px solid #ccc;*/
    min-height: 600px;
    width: 970px;
    margin-left: auto;
    margin-right: auto;
} 

div#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

table.users em {
    color: #aaa;
}

table.users .col3 {
    min-width: 100px;
}

table.users .col4 {
    width: 10%;
    min-width: 100px;
}

table.users .col5 {
    width: 30%;
    min-width: 300px;
}

table.users .header a {
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#actions:after {
  content: ' ';
  display: block;
  height: 20px;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}


table .headerSortUp,table .headerSortDown{background-color:rgba(141, 192, 219, 0.25);text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);}
table .header:hover:after{visibility:visible;}
table .headerSortDown:after,table .headerSortDown:hover:after{visibility:visible;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}
table .headerSortUp:after{border-bottom:none;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #000;visibility:visible;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;filter:alpha(opacity=60);-khtml-opacity:0.6;-moz-opacity:0.6;opacity:0.6;}


.help-inline{font-size:11px;line-height:18px;color:#bfbfbf;padding-left:5px;*position:relative;*top:-5px;}

form .clearfix{margin-bottom:18px;zoom:1;}form .clearfix:before,form .clearfix:after{display:table;content:"";zoom:1;*display:inline;}
form .clearfix:after{clear:both;}

.form-stacked .clearfix{margin-bottom:9px;}.form-stacked .clearfix div.input{margin-left:0;}
.form-stacked div.clearfix.error{padding-top:10px;padding-bottom:10px;padding-left:10px;margin-top:0;margin-left:-10px;}


form div.clearfix.error{background:#fae5e3;padding:10px 0;margin:-10px 0 10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}form div.clearfix.error>label,form div.clearfix.error span.help-inline,form div.clearfix.error span.help-block{color:#9d261d;}
form div.clearfix.error input,form div.clearfix.error textarea{border-color:#c87872;-webkit-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);-moz-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);box-shadow:0 0 3px rgba(171, 41, 32, 0.25);}form div.clearfix.error input:focus,form div.clearfix.error textarea:focus{border-color:#b9554d;-webkit-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);-moz-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);box-shadow:0 0 6px rgba(171, 41, 32, 0.5);}
form div.clearfix.error .input-prepend span.add-on,form div.clearfix.error .input-append span.add-on{background:#f4c8c5;border-color:#c87872;color:#b9554d;}

.centered-form{position: absolute; left: 20%; top: 20%; width: 60%;}


.favorite_template {
    display: none;
}


/*
label {
	padding-top: 6px;
	font-size: 13px;
	line-height: 18px;
	float: left;
	width: 130px;
	text-align: right;
	color: #404040;
}*/

.removeCol {
	padding-left: 20px;
}

.favorite-dropdown {
	float: left;	
}

.favorite-button {
	float: right;
}

.item_template {
	display: none;
}

.disabled-field {
	pointer-events: none; 
	cursor: default;
}

#emailInfo_emailSubject {
	width: 400px;
}

#emailInfo_emailBody {
	width: 400px;
	height: 250px;
}

